<form class="form">
    <h1>Novo Técnico</h1>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Satya Nadella">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput placeholder="000.000.000-00">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="(85)99999-9999">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
</form>
  